.BalanceInfo{
    background-color: #F8F8F8;
    padding: calc(var(--xsmText)*3)  calc(var(--smText)*2.2);
    margin-top: calc(var(--xsmText)*3);
    border-radius: var(--lgText);
}

.BalanceInfo__extraBalanceInfo{
    margin-top: calc(var(--smText)*2.5);
    display: flex;
    flex-direction: row;
    gap: calc(var(--smText)*3);
}

.BalanceInfo__ActionButton{
    margin-top: calc(var(--smText)*2.5);
    border-radius: calc(var(--xsmText));
}