.ComparisonAndStrategy{ 
    padding: 2rem 2rem 0 2rem;
}

  .RetirementStrategy{
    margin-top: calc(2.8*1rem);
    background-color: #F8F8F8;
  }

  .EmployeeContribution{
    margin-top: calc(2.8*1rem);
  }

  .RetirementAge{
    margin-top: 1 rem;
  }

  .EmployerContribution{
    display: flex;
    justify-content: space-between;
  }

  @media (min-width:600px){
    .RetirementStrategy{
      padding: 2rem;
    }
  }